/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "nunito";
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
body {
  background-color: grey;
}
h1 {
  font-size: 4rem;
  color: darkslategrey;
}

.container {
  display: grid;
  place-items: center;
}

.game-board {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3rem;
  justify-content: center;
  padding: 0.5rem;
  background-color: lightgray;
  box-shadow: 1px 1px 3px darkgrey;
}

.cell {
  display: grid;
  aspect-ratio: 1 / 1;
  place-items: center;
  background-color: saddlebrown;
  font-size: 18cqw;
  line-height: 0;
}

.winning-cell {
  background-color: lightgreen;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: darkslategrey;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 1em;
}
